.container, .header, .banner__container, .product, .product__category .product__list, .vidc .vidc__description-container, .footer .footer__main-container {
  max-width: 1125px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container, .header, .banner__container, .product, .product__category .product__list, .vidc .vidc__description-container, .footer .footer__main-container {
  max-width: 1125px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  margin-top: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1rem;
}

.header__logo {
  margin: 0 auto;
}

.header__container {
  margin: 0 auto;
}

.header__container .header__nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0 1rem 0;
  padding: 0;
}

.header__container .header__nav-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__container .header__nav-container ul li {
  display: inline-block;
  font-size: 15px;
}

.header__container .header__nav-container ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 0 10px 0 10px;
  color: #4E3939;
  font-weight: 500;
}

.header__container .header__nav-container ul .header__link-separator {
  border-left: 0.1rem solid #265781;
  border-right: 0.1rem solid #265781;
  padding: 0 1rem 0 1rem;
}

.header__container .header__nav-container ul .header__small-size {
  font-size: 12px;
  font-weight: 750;
  padding: 0 0.5rem 0 2.5rem;
}

.header__container .header__nav-container ul .header__normal-size {
  font-size: 14px;
  font-weight: 750;
  padding: 0.5rem;
}

.header__container .header__nav-container ul .header__large-size {
  font-size: 15px;
  font-weight: 750;
  padding: 0 1.7rem 0 0.5rem;
  border-right: 0.1rem solid #265781;
}

.header__container .header__nav-container ul .header__dot {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  display: inline-block;
}

.header__container .header__nav-container ul .header__dot-link {
  padding-right: 0.1rem;
}

.header__container .header__nav-container ul .header__dot--blue-dot {
  background-color: #265781;
}

.header__container .header__nav-container ul .header__dot--green-dot {
  background-color: #52B27B;
}

.header__container .header__nav-container ul .header__dot--yellow-dot {
  background-color: #F2E162;
}

.header__container .header__nav-container ul select {
  border: none;
  padding: 0 1rem 0 1rem;
}

.header__container .header__bottom-links {
  padding: 0;
}

.header__container .header__bottom-links ul {
  list-style-type: none;
  padding-top: 0px;
  margin-top: 0px;
}

.header__container .header__bottom-links ul li {
  display: inline-block;
}

.header__container .header__bottom-links ul li .header__btmlink-separator {
  border-right: 1px solid;
  padding-right: 7px;
}

.header__container .header__bottom-links ul li a {
  text-decoration: none;
  color: #505050;
  font-size: 15px;
  padding-left: 6px;
  font-weight: 500;
}

.banner {
  margin-bottom: 5em;
  position: relative;
}

.banner img {
  width: 100%;
}

.banner__container {
  position: absolute;
  top: 26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: goldenrod;
  width: 100%;
  left: 11rem;
}

.banner__container .banner__head {
  display: inline-block;
  font-size: 5.7rem;
  background-color: #1B7642;
  padding: 0 1.3rem 0 1.3rem;
  font-weight: bold;
  color: white;
  border-radius: 0.5rem;
}

.banner__container .banner__title {
  display: inline-block;
  font-size: 3.5rem;
  background-color: #0F5C30;
  font-weight: bold;
  color: white;
  margin-top: 0.5rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.5rem;
}

.banner__container .banner__detail-link {
  text-decoration: none;
  display: inline-block;
  margin-top: 2rem;
  font-size: 2.2rem;
  background-color: white;
  text-align: center;
  padding: 1rem 2rem 1rem 2rem;
  color: black;
  font-weight: 400;
}

.banner__pagedown-outer-box {
  position: absolute;
  background-color: #1B7642;
  left: 50%;
  right: 50%;
  top: 93%;
  padding: 2.1rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__pagedown-outer-box .banner__pagedown-inner-box {
  border: 3px solid white;
  padding: 1.1rem 0.7rem;
}

.product {
  position: relative;
  margin-top: 7.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product .product__banner {
  margin-left: 7.4rem;
  margin-top: 10.4rem;
  padding-top: 1rem;
}

.product .product__banner .product__title {
  font-size: 4.3rem;
  text-transform: uppercase;
  font-weight: bolder;
  color: #505050;
  padding-bottom: 0.5rem;
  margin-left: 11.1rem;
}

.product .product__banner .product__subtitle {
  font-size: 4.3rem;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: lato;
  color: #505050;
  padding-top: 0.5rem;
  margin-left: 23.6rem;
}

.product .product__banner .product__poster img {
  position: absolute;
  height: 16.9rem;
  width: 18.2rem;
  position: absolute;
  top: 9rem;
  right: 8rem;
}

.product__category {
  padding: 2rem 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E6E6E6));
  background: linear-gradient(#FFFFFF, #E6E6E6);
}

.product__category .product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10rem auto;
  padding: 2rem 1rem 2rem 3rem;
}

.product__category .product__list img {
  height: 7.5rem;
  width: 7.5rem;
}

.product__category .product__list figure {
  text-align: center;
  margin: 1rem 3rem;
}

.product__category .product__list figure a {
  text-decoration: none;
  color: #505050;
  font-weight: 600;
}

.product__category .product__list .product__item {
  font-size: 1.6rem;
  font-weight: bolder;
  width: 9rem;
  display: block;
  text-align: center;
  padding-top: 2rem;
}

.vidc {
  background-color: #3F3531;
  position: relative;
  width: 100%;
  height: 52rem;
  margin-bottom: 7.7rem;
  background-image: url("../images/greybackground.png");
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  width: 100%;
}

.vidc .vidc__description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 9rem;
}

.vidc .vidc__description-container .vidc__video-picture {
  display: inline-block;
  position: relative;
}

.vidc .vidc__description-container .vidc__video-picture img {
  height: 35.5rem;
  width: 55.6rem;
  border-radius: 1.3rem;
}

.vidc .vidc__description-container .vidc__video-picture .vidc__button-image {
  position: absolute;
  top: 13.6rem;
  left: 23rem;
}

.vidc .vidc__description-container .vidc__video-picture .vidc__button-image .videobtn {
  height: 10rem;
  width: 10rem;
  border-radius: 8rem;
  background-color: #44AF72;
  border: none;
  outline: 1px solid #0F5C30;
}

.vidc .vidc__description-container .vidc__about-information {
  display: inline-block;
  color: white;
  font-size: 1.6rem;
  width: 33%;
  margin-left: 10rem;
  margin-top: -2rem;
  line-height: 2.3rem;
}

.vidc .vidc__description-container .vidc__about-information .vidc__about-heading {
  font-size: 3.3rem;
  margin-top: 0;
  font-weight: 800;
}

.vidc .vidc__description-container .vidc__about-information a {
  display: inline-block;
  text-decoration: none;
  background-color: #44AF72;
  color: white;
  font-size: 2.2rem;
  padding: 1rem 1.5rem;
  margin-top: 2rem;
}

footer {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  display: block;
  margin-top: 4rem;
}

.footer {
  position: relative;
  width: 100%;
}

.footer img {
  width: 100%;
}

.footer .footer__main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  right: 0;
  left: 0;
  top: 9.5rem;
}

.footer__right-section {
  padding-right: 2rem;
  padding-top: 4rem;
}

.footer__right-section .footer__email input[type="email"] {
  height: 4.6rem;
  width: 64.8rem;
  border-radius: 3.5rem;
  background-color: #186A3B;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  padding-left: 3rem;
  border: none;
  margin-top: 1rem;
  outline-style: none;
  display: block;
}

.footer__right-section .footer__email input[type="email"]::-webkit-input-placeholder {
  color: white;
}

.footer__right-section .footer__email input[type="email"]:-ms-input-placeholder {
  color: white;
}

.footer__right-section .footer__email input[type="email"]::-ms-input-placeholder {
  color: white;
}

.footer__right-section .footer__email input[type="email"]::placeholder {
  color: white;
}

.footer__right-section .footer__email .footer__email-label {
  font-size: 2.2rem;
  font-weight: bold;
  color: white;
}

.footer__right-section .footer__email button {
  position: absolute;
  border-radius: 2rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 800;
  font-family: lato;
  padding: 1.1rem 3.6rem;
  top: 8rem;
  left: 48.8rem;
}

.footer__service-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 2.2rem;
}

.footer__service-container a {
  text-decoration: none;
  color: white;
}

.footer__service-container ul {
  list-style-type: none;
}

.footer__service-container ul li {
  color: white;
  font-size: 1.4rem;
  margin-bottom: 1.1rem;
}

.footer__service-container .footer__first-list ul {
  padding: 0;
  padding-right: 9.8rem;
}

.footer__service-container .footer__first-list ul .footer__li-on {
  font-size: 1.8rem;
  font-family: lato;
  font-weight: bold;
  color: white;
  margin-bottom: 1.7rem;
}

.footer__service-container .footer__second-list ul {
  padding-right: 9.6rem;
}

.footer__service-container .footer__second-list ul .footer__li-on {
  font-size: 1.8rem;
  font-family: lato;
  font-weight: bold;
  color: white;
  margin-bottom: 1.7rem;
}

.footer__service-container .footer__third-list {
  margin-top: 3.4rem;
}

.footer__service-container .footer__third-list ul {
  padding-left: 1.4rem;
}

.footer__service-container .footer__third-list ul li .footer__li-on {
  margin-bottom: 1.7rem;
}

.footer__last-container {
  margin-top: 6.5rem;
  color: white;
  font-size: 1.3rem;
  margin-top: 6.5rem;
  color: white;
}

.footer__last-container .footer__upline {
  display: inline-block;
}

.footer__last-container .footer__dwnline {
  display: inline-block;
  position: relative;
  left: 13.5rem;
}

.footer__last-container .footer__dwnline .footer__dwn-up {
  text-align: right;
}

.footer__contact-container {
  margin-left: 2rem;
  background-color: #1B6D3E;
  color: white;
  padding: 2rem 4rem 0 4rem;
  margin: 0;
}

.footer__contact-container a {
  text-decoration: none;
  color: white;
}

.footer__contact-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__contact-container ul div.footer__logo {
  display: inline-block;
  position: relative;
  top: -3rem;
  right: 1.6rem;
  margin: 0;
  padding: 0;
}

.footer__contact-container ul .footer__detail {
  width: 27rem;
  display: inline-block;
}

.footer__contact-container ul .footer__detail h3 {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom: 3px;
}

.footer__contact-container ul .footer__detail a {
  font-size: 14px;
  font-weight: bold;
  padding-top: -10px;
  margin-top: 3px;
  display: block;
}

.footer__contact-container ul .footer__detail hr {
  border-color: #3eff9159;
  outline: none;
}

.footer__contact-container ul div.footer__detail--mid {
  position: relative;
  right: 0;
  left: 1.8rem;
}

.footer__contact-container ul div.footer__detail--last {
  position: relative;
  right: 0;
}

.footer__contact-container .footer__social-handle {
  margin: 4rem 0 0 0;
}

.footer__contact-container .footer__social-handle ul {
  list-style-type: none;
}

.footer__contact-container .footer__social-handle ul li {
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.footer__contact-container .footer__social-handle ul .footer__followus {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 0;
  padding: 0 1rem 0 0;
  border-right: 1px solid #488964;
}

html {
  font-size: 10px;
  padding: 0;
  margin: 0;
  border: 0;
}

/*start body section */
body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=final.css.map */